<style>
  .search-btn{
    color: white;
    background-color: #fe424d;
    border-radius: 25px;
    padding: 0 1rem;
  }
  .search-btn:hover{
    color: white;
    background-color: #fe424d;
  }
  .search-inp{
    padding: 2rem;
    border-radius: 50%;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand active" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/listings">Explore</a>
          </li>
        </ul>
        <div class="nav-item me-auto ms-auto">
          <form role="search" class="d-flex">
            <input type="search" class="form-control me-2" class="search-inp" placeholder="Search Destination....">
            <button class="btn search-btn btn-outline" type="submit">Search</button>
          </form>
        </div>
        <a class="nav-link d-flex me-3" aria-current="page" href="/listings/new">Wanderify ur Home</a>
        <% if (!curUser ) { %>
          <a href="/login" class="btn btn-outline me-3 d-flex"> <b>Log in</b> </a>
          <a href="/signup" class="btn btn-outline d-flex me-3"> <b>Sign Up</b> </a>
        <% } %>
        <% if (curUser ) { %>
          <a href="/logout" class="btn btn-outline d-flex"><b>Log Out</b></a>
        <% } %>
      </div>
    </div>
  </nav>