body{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.round{
    border-radius: 6px !important;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color:white ;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222 !important;
}

/*footer*/
.f-links a{
    text-decoration: none;
    color: #222;
}

.f-links a:hover{
    text-decoration: underline;
}

.f-info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

.f-links, .f-socials, .f-company{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}


.f-socials i {
    margin-right: 1rem;
    font-size: 1.3rem;
}

.ind-card{
    border: none !important;
    margin: 1rem;
    /* width: 100%; */
}

.card-img-top{
    border-radius: 2rem !important;
}

a{
    text-decoration: none;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

@media only screen and (max-width:900px){
    .row{
        display: block;
    }
    .card-row-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .card-col-btn{
        box-sizing:content-box !important;
    }
    .card-full{
        margin: .5rem !important;
        width: auto !important;
    }

    .card-col img{
        height: auto !important;
    }
    .form-style{
        margin-left: 1.5rem !important;
    }
}

/* Map */
#map { 
    height: 20rem;
    width: 40vw;
 }

 /* filter */
 .filters{
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.filter{
    margin: 1rem;
    text-align: center;
    font-size: larger;
    opacity: .6;
}
.filter:hover{
    opacity: 1;
}
.filter-para{
    font-size: .8rem;
}
.filter i{
    font-size: larger;
}
.filter a{
    text-decoration: none;
    color: #222;
}
.tax-toggle{
    padding: .5rem .8rem;
    height: 2.5rem;
    border: 1px solid #222;
    border-radius: 1rem;
    margin: 1rem 0;
}
.gst{
    display: none;
}